html {
  width: 400px;
  height: 600px;
}

body, #app {
  width: 400px;
  height: 600px;
  overflow: hidden;
}

.tippy-box {
  background-color: #333 !important;
}

.tippy-content {
  padding: 0.25rem 0.5rem !important;
}

.tooltip .tippy-box {
  background-color: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
}

.tooltip .tippy-content {
  padding: 0 !important;
}