{
  "useTabs": false,
  "tabWidth": 4,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    },
    {
      "files": ["*.css", "*.json"],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": [".prettierrc", "*.yml"],
      "options": {
        "tabWidth": 2,
        "singleQuote": false
      }
    }
  ]
}
